<div class="container-fluid p-5  w-100 h-75 ">
    <div class="p-5 ml-5 ">
        <div>
            <img src="/assets/logo.png" alt="">
        </div>

        <div class="d-flex  justify-content-between">

            <form  [formGroup]="form" (ngSubmit)="onSubmit()" class="form-group mt-5 px-2  ">
                <div>
                    <label for="exampleInputEmail1">EMAIL</label>
                    <input type="email" class="form-control" formControlName="username" [(ngModel)]="usuario.email" >
                </div>
                <div class="pt-4 ">
                    <label for="exampleInputEmail1">SENHA</label>
                    <input type="email" class="form-control" formControlName="password"  [(ngModel)]="usuario.senha">
                </div>
                <div class="mt-2">
                    <button type="submit" required class="btn btn-outline-danger">Entrar</button>
                </div>
            </form>
            <div class="image d-flex px-5 mx-5" style="margin-top: -9%;">
                <img src="/assets/imagem.png" alt="" class="image">
            </div>

        </div>


    </div>




</div>