

    <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">DATA</th>
                        <th scope="col">CLIENTE/SETOR</th>
                        <th scope="col">ASSUNTO</th>
                        <th scope="col">GUT</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">INÍCIO</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>22/03/2022</td>
                            <td>Ester Maia</td>
                            <td>22/03/2022</td>
                            <td>22/03/2022</td>
                            <td>22/03/2022</td>
                            <td>22/03/2022</td>
                            <td>22/03/2022</td>
                          </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Ester Maia</td>
                        <td>Ester Maia</td>
                        <td>Ester Maia</td>
                        <td>Ester Maia</td>
                        <td>Ester Maia</td>
                        <td>Ester Maia</td>
                        <td>Ester Maia</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Queda no sistema</td>
                        <td>E-mail para novo funcionario</td>
                        <td>Trocar o roteador</td>
                        <td>Atualizar o windows</td>
                        <td>Erro no sistema</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
