<nav class="navbar navbar-expand-md bg-white shadow-sm py-3 px-2 px-md-0">
    <!-- START : Full width container -->
      <div class="container">
        <!-- START : Logo -->
          <a class="navbar-brand" href="#">
            <img src="assets/logo.png" alt="" >    
          </a>
          <div class="input-group flex-nowrap">
            <input type="text" class="form-control" placeholder="Pesquisar chamados" aria-label="Username" aria-describedby="addon-wrapping">
          </div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav w-100 d-flex justify-content-end py-3 py-md-0">
            <li class="nav-item">
              <a class="nav-link nav-font " href="#"> <img class="icon" src="assets/home.svg">Chamados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-font" href="#"> <img class="icon1" src="assets/adicionar.svg"> Novo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-font " href="#"><img class="icon2" src="assets/perfil.svg">  Perfil</a>
            </li>
            
          </ul>
        </div>
        <!-- END : Nav link -->
      </div>
      <!-- END : Full width Container -->
    </nav>