@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #DC3545;
}

img {
    vertical-align: top;
}

.nav-font {
    font-size: 18px;
}

.icon {
    width: 20px;
}

.icon1 {
    width: 19px;
}

.icon2 {
    width: 19px;
}

.input-group {
    width: 50%;
}

.input-group .form-control {
    margin: 0 0 0 19vw;
    border: 1px solid #E20F0F;
    border-radius: 15px;
}